/* =====================================
BUTTONS
===================================== */
.btn {
    border-radius: var(--radius-md);
    transition: all 0.3s ease;
}

.btn-outline-dark {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-dark:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}